.container {
  max-width: 1920px;
  width: 100%;
  /*height: 2061px;*/
  margin: auto;
}

.flex_start {
  display: flex;
  /*ძაან ბევრი რამ ვცადე მარა მაინც ვერ გავაკეთე*/
  /*max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50px);*/
  width: 100%;
  background-color: rgba(38, 38, 38, 1);
  padding: 46px 320px 45px 320px;
}

ul {
  display: flex;
  justify-content: space-around;
  height: 28px;
  justify-content: center;
  align-items: flex-start;
  gap: 68px;
}

.active {
  color: rgba(220, 180, 122, 1);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.no_active {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.fa-bag-shopping {
  width: 32px;
  height: 36.571px;
  margin-left: 706px;
  color: white;
}

.section1 {
  position: relative;
  height: 784px;
}

.room {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  position: absolute;
  justify-content: center;
  border-radius: 50px;
  top: 256px;
  right: 256px;
  left: 276px;
  bottom: 276px;
  color: white;
  border: 1px solid #ffff;
  backdrop-filter: blur(10px);
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  padding: 56px 120px;
  box-shadow: 0px 20px 4px 0px rgba(0, 0, 0, 0.54);
}

.section2 {
  width: 1280px;
  background-color: #ffff;
  display: flex;
  margin: 120px 320px;
}

.card1 {
  justify-content: space-around;
  border-radius: 40px;
  border: 3px solid #DCB47A;
  padding: 30px 41px;
  width: 390px;
}

h2 {
  margin-top: 120px;
  width: 734px;
  color: #E08C11;
  font-size: 75px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h5 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 16px */
  letter-spacing: -0.8px;
  margin: 20px 0 24px;
}

.fa-cart-shopping {
  width: 24px;
  height: 24px;
  color: white;
  border-radius: 4px;
  background-color: #DCB47A;
}

p {
  display: flex;
  color: #E08C11;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 16px */
  letter-spacing: -0.8px;
  justify-content: space-between;
}




